In [81]:
import numpy as np
import pandas as pd

df = pd.read_csv('../data/all_data_frame.csv', low_memory=False)
df = df.drop_duplicates()

In [74]:
def keep_digits(column, type_of_digit=float):
        df[column] = df[column].str.extract('(\d+)').astype(type_of_digit).fillna(0)

keep_digits('Living area', float)
keep_digits('Surface of the plot', float)
keep_digits('Garden surface', float)
keep_digits('Terrace surface', float)


df[['Living area','Surface of the plot','Garden surface','Terrace surface']]

       Living area  Surface of the plot  Garden surface  Terrace surface
0            122.0                335.0           171.0             20.0
1            119.0                 49.0             0.0              0.0
2            200.0                300.0           200.0             12.0
3            404.0               1000.0          1000.0             52.0
4            350.0                263.0           140.0              0.0
...            ...                  ...             ...              ...
18474        126.0                  0.0             0.0              0.0
18475         84.0                  0.0             0.0              6.0
18476         80.0                  0.0             0.0             18.0
18477         90.0                  0.0             0.0              9.0
18478        146.0                  0.0            39.0              0.0

[17373 rows x 4 columns]

In [82]:
df['Price'] = df['Price'].str.extract('(\d+,\d+)')
df['Price'] = df['Price'].str.replace(',','').astype(float)

df['Price']

0        159000.0
1        345000.0
2        895000.0
3        570000.0
4        800000.0
           ...
18474    329000.0
18475    329500.0
18476    329500.0
18477    329750.0
18478    329900.0
Name: Price, Length: 17373, dtype: float64