In [20]:
import numpy as np
import pandas as pd

df = pd.read_csv('../data/all_data_frame.csv', low_memory=False)
df = df.drop_duplicates()

In [21]:
def keep_digits(column, type_of_digit=float):
        df[column] = df[column].str.extract('(\d+)').astype(type_of_digit).fillna(0)

keep_digits('Living area', float)
keep_digits('Surface of the plot', float)
keep_digits('Garden surface', float)
keep_digits('Terrace surface', float)


df[['Living area','Surface of the plot','Garden surface','Terrace surface']]

       Living area  Surface of the plot  Garden surface  Terrace surface
0            122.0                335.0           171.0             20.0
1            119.0                 49.0             0.0              0.0
2            200.0                300.0           200.0             12.0
3            404.0               1000.0          1000.0             52.0
4            350.0                263.0           140.0              0.0
...            ...                  ...             ...              ...
18474        126.0                  0.0             0.0              0.0
18475         84.0                  0.0             0.0              6.0
18476         80.0                  0.0             0.0             18.0
18477         90.0                  0.0             0.0              9.0
18478        146.0                  0.0            39.0              0.0

[17373 rows x 4 columns]

In [22]:
df['Price'] = df['Price'].str.extract('(\d+,\d+)')
df['Price'] = df['Price'].str.replace(',','').astype(float)

In [23]:
# df['Building condition'] = df['Building condition'].map({'Good': 0.5, 'To renovate': 0.5, 'As new': 1, 'To be done up': 1, 
# 'Just renovated': 0.75, 'To restore':0 })
# df['Building condition'] = df['Building condition'].fillna(0)


# df['Number of frontages'] = df['Number of frontages'].fillna(1)			
# df['Living area'] = df['Living area'].fillna(0)
# df['Kitchen type']= df['Kitchen type'].map({'Semi equipped': 0.5, 'USA installed': 0.75, 'Installed': 0.75, 'Hyper equipped': 1.0, 'Not installed': 0.0, 
# 'USA semi equipped': 0.5, 'USA hyper equipped': 1.0,  'USA uninstalled': 0.75})		
# df['Kitchen type'] = df['Kitchen type'].fillna(0)
# df['Bedrooms'] = df['Bedrooms'].fillna(0)

# df['Furnished'] = df['Furnished'].map({'Yes': 1, 'No': 0})
# df['Furnished'] = df['Furnished'].fillna(0)



# df['Surface of the plot'] = df['Surface of the plot'].fillna(0)
# df['Garden surface'] = df['Garden surface'].fillna(0)
# df['Terrace surface'] = df['Terrace surface'].fillna(0)
# df['Swimming pool'] = df['Swimming pool'].map({'Yes': 1, 'No': 0})
# df['Swimming pool'] = df['Swimming pool'].fillna(0)

# df['Terrace'] = df['Terrace'].map({'Yes': 1, 'No': 0})
# df['Terrace'] = df['Terrace'].fillna(0)


# df['Garden'] = df['Garden'].map({'Yes': 1, 'No': 0})
# df['Garden'] = df['Garden'].fillna(0)
# df = df = df[df['Price'].notna()]

In [24]:
used_columns = """url
type_of_property
subtype_of_property
Price
locality
zip_code
Construction year
Building condition
Number of frontages
Living area
Kitchen type
Bedrooms
Furnished
Surface of the plot
Garden surface
Terrace surface
Swimming pool
type_of_sale
Terrace
Garden"""
used_columns= used_columns.splitlines()
cleaned_df = df[used_columns].copy()

In [25]:
cleaned_df.reset_index(drop=True, inplace=True)
cleaned_df.to_csv("../data/raw_data.csv", header=True)

In [26]:
df_list = cleaned_df.columns.to_list()[2:]

In [27]:
for index,column in enumerate(df_list):
    print(column)
    print(cleaned_df[df_list[index]].value_counts().head(10))
    print('\n')

subtype_of_property
house                   6593
apartment               6053
villa                   1109
duplex                   490
penthouse                474
apartment-block          406
ground-floor             400
mixed-use-building       336
flat-studio              289
exceptional-property     229
Name: subtype_of_property, dtype: int64


Price
299000.0    277
249000.0    240
295000.0    227
395000.0    226
199000.0    222
275000.0    202
495000.0    179
399000.0    177
225000.0    176
349000.0    176
Name: Price, dtype: int64


locality
uccle           505
gent            421
ixelles         390
bruxelles       375
liege           321
antwerp         320
knokke-heist    277
oostende        263
schaerbeek      198
blankenberge    197
Name: locality, dtype: int64


zip_code
1180    511
8300    458
1000    441
1050    408
9000    387
8400    267
4000    217
1030    205
8370    197
1200    177
Name: zip_code, dtype: int64


Construction year
2022.0    959
2021.0    650
1930.0    301
2020.0    287
1970.0    262
1900.0    212
1960.0    192
1950.0    187
1965.0    178
2018.0    169
Name: Construction year, dtype: int64


Building condition
Good              5280
As new            4873
To be done up     1604
To renovate       1528
Just renovated     894
To restore          65
Name: Building condition, dtype: int64


Number of frontages
2.0    6548
4.0    3613
3.0    2828
1.0      77
6.0       3
8.0       3
5.0       2
Name: Number of frontages, dtype: int64


Living area
0.0      1311
100.0     310
150.0     291
90.0      273
120.0     245
110.0     241
200.0     233
180.0     229
80.0      222
160.0     222
Name: Living area, dtype: int64


Kitchen type
Installed             5937
Hyper equipped        2759
Semi equipped         1576
USA hyper equipped    1294
Not installed          761
USA installed          481
USA semi equipped      130
USA uninstalled         11
Name: Kitchen type, dtype: int64


Bedrooms
2.0     5317
3.0     5179
4.0     2606
1.0     1799
5.0     1143
6.0      521
7.0      189
8.0       90
9.0       59
10.0      37
Name: Bedrooms, dtype: int64


Furnished
No     12776
Yes      523
Name: Furnished, dtype: int64


Surface of the plot
0.0      8755
100.0      73
150.0      69
170.0      60
200.0      59
140.0      58
120.0      58
110.0      56
80.0       55
90.0       53
Name: Surface of the plot, dtype: int64


Garden surface
0.0      13204
100.0      118
200.0      118
50.0        88
300.0       82
500.0       78
400.0       71
150.0       70
40.0        69
60.0        59
Name: Garden surface, dtype: int64


Terrace surface
0.0     9357
20.0     476
10.0     448
15.0     375
12.0     366
30.0     314
6.0      307
8.0      302
25.0     288
40.0     252
Name: Terrace surface, dtype: int64


Swimming pool
No     6868
Yes     521
Name: Swimming pool, dtype: int64


type_of_sale
for-sale    17373
Name: type_of_sale, dtype: int64


Terrace
Yes    3938
Name: Terrace, dtype: int64


Garden
Yes    2108
Name: Garden, dtype: int64